name: Test Action Runs

on:
    workflow_dispatch:
    pull_request:
        branches: master

jobs:
    test-action:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
              with:
                  persist-credentials: false
            - uses: actions/setup-node@master
              with:
                  node-version: '12'
            - uses: thezion/github-action-env-vars@master
              with:
                  json-url: 'https://raw.githubusercontent.com/thezion/github-action-env-vars/master/dist/source.json'
                  preset: 'vue'
                  filename: 'dist/actual-vue'
            - name: Files comparison
              run: cmp -s dist/expect-vue dist/actual-vue
            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.CICD_TOKEN }}
                  publish_dir: ./dist
                  publish_branch: gh-pages
