name: Test Action Runs

on:
    workflow_dispatch:
    pull_request:
        branches: master

jobs:
    test-action:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
              with:
                  persist-credentials: false
            - uses: actions/setup-node@master
              with:
                  node-version: '12'
            - name: Build (TS->JS)
              run: tsc -v && npm run build
            - name: Run
              uses: ./
              with:
                  json-url: 'https://raw.githubusercontent.com/thezion/github-action-env-vars/master/public/source.json'
                  preset: 'vue'
                  filename: 'public/actual-vue'
            - name: Test (File Comparison)
              run: (cmp -s public/expect-vue public/actual-vue && echo 'test passed') || (echo 'test failed' && exit 1)
            # - name: Deploy to GitHub Pages
            #   uses: peaceiris/actions-gh-pages@v3
            #   with:
            #       github_token: ${{ secrets.CICD_TOKEN }}
            #       publish_dir: ./public
            #       publish_branch: gh-pages
